.loadingOverlay {
	@apply absolute z-40 left-[1px] top-[1px] w-[calc(100%-2px)] h-[calc(100%-2px)] flex items-center justify-center flex-col gap-2 rounded-lg;
	transition: backdrop-filter 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s
		ease-in-out;

	&[data-visible="true"] {
		backdrop-filter: blur(calc(var(--blur) * 2));
		opacity: 1;
		visibility: visible;
	}

	&[data-visible="false"] {
		backdrop-filter: blur(0);
		opacity: 0;
		visibility: hidden;
	}
}

.errorOverlay {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #00000021;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&[data-visible="true"] {
		opacity: 1;
		visibility: visible;
	}

	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
	}
}

.errorContent {
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: var(--error);
	transition: opacity 0.2s ease-in-out;

	& > span {
		@apply text-xs font-mono;
	}

	& > button {
		@apply px-0 py-0 h-min;
	}

	&[data-visible="true"] {
		opacity: 1;
		pointer-events: all;
	}

	&[data-visible="false"] {
		opacity: 0;
		pointer-events: none;
	}
}
