@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0eee5;
    --foreground: #373325;
    --accent: #D19781;
    --accent-background: #d1c2bb;
    --muted: #dbd8d1;

    --code-primary: #6E6649;
    --code-secondary: #D19781;
    --code-tertiary: #B46141;

    --success: #8BAE82;
    --error: #f8d7da;

    --muted-transparent: #9b99921a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1d1c16;
    --foreground: #f2ecd4;
    --accent: #D19781;
    --accent-background: #4b3730;
    --muted: #3e3d34;

    --code-primary: #c5bfaa;
    --code-secondary: #D19781;
    --code-tertiary: #B46141;

    --success: #8BAE82;
    --error: #983636;

    --muted-transparent: #9b99921a;
  }
}

@layer base {
  * {
    @apply border-accent-background;
    scrollbar-color: var(--code-primary) var(--muted-transparent);
    scrollbar-width: thin;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.neuton {
  font-family: var(--font-neuton);
}

textarea {
  resize: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  filter: blur(0.5px);
  opacity: 0.2;
}

[data-type="success"]>[data-icon] {
  color: var(--success);
}

[data-type="error"]>[data-icon] {
  color: var(--error);
}
