@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210, 85%, 56%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 218, 17%, 28%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

textarea {
  resize: none;
}

body {
	background-image: radial-gradient(hsl(var(--foreground)) 1.5px, transparent 1.5px), radial-gradient(hsl(var(--foreground)) 1.5px, hsl(var(--background)) 1.5px);
	background-size: 5rem 5rem;
	background-position: 0 0, 2.5rem 2.5rem;
  animation: bg 1s linear infinite;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: -20%;
  width: 120%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: linear-gradient(to right, transparent, hsl(var(--background)) 5%);

  animation: before 8s ease-in-out infinite;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 120%;
  width: 120%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background: linear-gradient(to left, transparent, hsl(var(--background)) 5%);

  animation: after 8s ease-in-out infinite;
}

@keyframes before {
  0% {
    left: -20%;
  }
  80% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}

@keyframes after {
  0% {
    right: 130%;
  }
  80% {
    right: -10%;
  }
  100% {
    right: -10%;
  }
}