server {
    listen 8080;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    location /docs {
        proxy_pass ${DOCS_URL};
    }

    location /api {
        proxy_pass ${API_URL};
    }

    location / {
        proxy_pass ${FRONTEND_URL};
    }
}
