.editor {
	transition: border-color 0.1s, box-shadow 0.1s;
}

.editor[data-focus="true"] {
	border: 2px solid var(--accent);
	@apply shadow-lg;
}

.editor[data-focus="false"] {
	border: 2px solid var(--accent-background);
	@apply shadow-md;
}

.errorOverlay {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #00000021;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&[data-visible="true"] {
		opacity: 1;
		visibility: visible;
	}

	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
	}
}

.errorContent {
	@apply text-[0.8rem] font-mono;
	position: absolute;
	z-index: 10;
	left: 0;
	height: 3rem;
	padding-left: 2rem;
	width: 100%;
	background-color: var(--error);
	display: flex;
	align-items: center;
	transition: bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;

	&[data-visible="true"] {
		bottom: 0;
		opacity: 1;
	}

	&[data-visible="false"] {
		bottom: -3rem;
		opacity: 0;
	}
}

.warningIcon {
	position: absolute;
	z-index: 10;
	bottom: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&[data-visible="true"] {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
		transform: scale(0.6);
	}
}

.languageToggle {
	@apply p-0 pr-2 rounded-lg flex items-center justify-center gap-2 select-none cursor-pointer relative;

	& span {
		@apply text-lg font-bold;
		transition: color 0.1s;

		&[data-active="true"] {
			color: var(--accent);
		}

		&[data-active="false"] {
			color: var(--accent-background);
		}
	}
}

.consoleOverlay {
	position: absolute;
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&[data-visible="true"] {
		opacity: 1;
		visibility: visible;
	}

	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
	}
}
