.editor {
	transition: border-color 0.1s, box-shadow 0.1s;
}

.editor[data-focus="true"] {
	border: 2px solid var(--accent);
	@apply shadow-lg;
}

.editor[data-focus="false"] {
	border: 2px solid var(--accent-background);
	@apply shadow-md;
}
