---
import { Code } from "@astrojs/starlight/components";

interface Props {
    codes: string[];
    langs: string[];
    titles: string[];
    height: "fixed" | "auto";
}

const { codes, langs, titles, height = "fixed" } = Astro.props;
---

<style is:global>
    .gq-code code {
        height: 16rem !important;
    }
</style>

<div class="flex gap-2">
    {
        codes.map((code, index) => (
            <Code
                class={`!mt-0 w-1/2 ${height === "fixed" ? "gq-code" : ""}`}
                code={code}
                lang={langs[index]}
                title={titles[index]}
            />
        ))
    }
</div>
